// .wrapper {
//     height: 90px;
//     background: $main-grey;
// }



/* ==============================
  LOGO
============================== */
.logo {
    height: 54px;
    background: $main-grey;
    // position: fixed;
    // width: 100%;
    // top: 0;
    // z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px $main-grey;
    transition: top 0.2s ease-in-out;
    .name {
        text-align: center;
        color: white;
    }
}

// .logo-up {
//     top: -54px;
// }




.navi,
.content {
    position: relative;
}

@media (min-width: 769px) {
    .logo,
    .naviStick {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 0;


    }

    body {
        padding-top: 54px;
    }

}


/* ==============================
  NAVIGATION
============================== */

.navi {
    display: none;
}

@media (min-width: 769px) {
    .navi {
        height: 36px;
        background: $main-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 150;
        box-shadow: 0px 0px 15px $main-grey;
        margin-bottom: -36px;
        .main-nav {
            text-align: center;
            text-transform: uppercase;
            display: flex;
            flex-direction: row;
            justify-content: center;
            li {
                a {
                    color: white;
                    font-weight: normal;
                    display: block;
                    padding: 6px 1em;
                }
                a:hover {
                    color: lighten($main-grey, 50%);
                }
            }
        }
    }
}



/* ==============================
  Media Queries
============================== */
@media (min-width: 769px) {


}
